*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'TT-Supermolot-Neue-Trial';
    src: url('../tt-supermolot-neue-font-family-1733306246-0/TT-Supermolot-Neue-Trial-Regular-BF65fcfb4f8c934.ttf');
}
@font-face {
    font-family: 'TT-Supermolot-Neue-Trial-Bold';
    src: url('../tt-supermolot-neue-font-family-1733306246-0/TT-Supermolot-Neue-Trial-Bold-BF65fcfb49ac589.ttf');
}
body{
    font-family: 'TT-Supermolot-Neue-Trial',sans-serif;

}

header{
    height: 87px;
    padding: 25px 25px 15px 25px;
    background-color:#85d4f4;
    display: flex;
    justify-content: space-between;
}
img#logo{

}
nav#navegacao{
    display: flex;
    align-items: center;
}

ul#links-navegacao{
    margin-left: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 10px ;
}
ul#links-navegacao li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px 8px 16px;
}

#links-navegacao li a{
    text-decoration: none;
    color: #414ABA;
    font-family: 'TT-Supermolot-Neue-Trial-Bold',sans-serif;
    font-size: 18px;
}

nav#redes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

ul#redes-sociais{
    display: flex;
    gap: 20px;
    list-style: none;

}
ul#redes-sociais li{
    width: 48px;
    height: 44px;
}

main{
    padding: 4rem;
}

section.profile{
    display: flex;
    gap: 3rem;
    justify-content: space-between;
}
.profile-container h1{
    font-family: 'TT-Supermolot-Neue-Trial-Bold',sans-serif;
}

.profile-container span{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 80px;
}
.container{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.about{
    width: 50%;
}

.about h2{
    font-family: 'TT-Supermolot-Neue-Trial-Bold',sans-serif;
    font-size: 36px;
}

.about p{
    width: 360px;
    height: 181px;
    font-family: 'Roboto Flex', sans-serif;
    margin-top: 20px;
}

.skills{
    width: 47%;
}
.skills h2{
    font-family: 'TT-Supermolot-Neue-Trial-Bold',sans-serif;
    font-size: 36px;
}

.backEnd-skills{
    margin-top: 20px;
}

.backEnd-container{
    display: flex;
    justify-content: space-between;
    width: 57%;
}

.ul-skills-backend ul{
    padding-left: 20px;
    line-height: 27px;
}

.backEnd-container ul li{
    margin-left: 10px;
}

.imgs-skills ul{
    list-style: none;
}

.frontEnd-skills{
    margin-top: 20px;
}

.frontEnd-container{
    display: flex;
    justify-content: space-between;
    width: 57%;
}

.ul-skills-frontend ul{
    padding-left: 20px;
    line-height: 27px;
}

.frontEnd-container ul li{
    margin-left: 10px;
}